* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B4D2D9;
}

p {
}

.divCaptcha_sectionInfo {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #659AA6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #659AA6;
}

.divCaptcha_sectionInfo > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.divCaptcha_sectionInfo > div:first-child > h4 {
  letter-spacing: 1.1px;
  background: linear-gradient(90deg, #037D8C, #025159);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.divCaptcha_sectionInfo > div:last-child {
  margin-bottom: 10px;
}

.animationContainer-check {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animationContainer-uncheck {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(10px);
    opacity: 0;
  }
}
